.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  transition: background 0.3s ease;
  z-index: 999;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.scrolled {
  background: linear-gradient(rgba(164, 41, 41, 0.616), rgba(164, 41, 41, 0.616));
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: red;
}

.navbar ul li .btn {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.navbar ul li .btn img {
  margin-left: 5px;
}

.navbar ul li .btn:hover {
  background-color: darkred;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.search-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.search-form button {
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: darkred;
}

