.facet-filters-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.facets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facet {
  margin: 10px 0;
  text-align: center; 
}

.facet h4 {
  margin-bottom: 5px;
  text-transform: capitalize; 
}
